@font-face {
  font-family: 'pixel';
  src: url('./font.ttf') format('truetype');
}

html, body {
  background-color: #333;
}

#canvas {
  width: 512px;
  height: 512px;
  border: 1px solid black;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
}
